*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header section img{
    width: 100px;
}

nav ul{
    display: flex;
    list-style: none;
}